services:
  postgres:
    image: bitnami/postgresql:latest
    container_name: db_postgres_barriga
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: barriga
    ports:
      - 5432:5432
    volumes:
      - postgres_data_barriga:/bitnami/postgresql
volumes:
  postgres_data_barriga:
    driver: local
  # cache:
  #   container_name: nest-clean-cache
  #   image: redis
  #   ports:
  #     - 6379:6379
  #   volumes:
  #     - ./data/redis:/data
